UserManagementCore/.vs/UserManagementCore/config/applicationhost.config
UserManagementCore/UserManagementCore/obj/
UserManagementCore/UserManagementCore/bin/
UserManagementEntityModel/obj/
UserManagementEntityModel/bin/
UserManagementCore/UserManagementEntityModel/obj/
UserManagementCore/UserManagementEntityModel/bin/
UserManagementCore/.vs/
UserManagementCore/bin/
UserManagementCore/obj/
.vs/UserManagementCore/DesignTimeBuild/.dtbcache.v2
.vs/UserManagementCore/v16/.suo
